@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Inconsolata:wght@400&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --color-900: #252c30;
    --color-200: #CACACA;
    --color-400: #315564;

    
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #102027;
    font-family: 'Girassol', cursive;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.6;
    /* overflow-y: hidden; */
}

.sarah, .michael {
    color: var(--color-200);
    background-color: var(--color-400)
}
.about {
    color: var(--color-200);
    background-color: var(--color-900)
}

header,
section {
    padding: 5rem 0;
}

.container-home {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.column {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .column {
        flex-direction: row;
    }

    .column > * {
        flex-basis: 100%;
    }

    .column > * + * {
        margin-left: 2rem;
    }
}

h3,
h2,
p {
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

/*gallery styling*/

.container-gallery {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: auto;
    margin: auto;
    background-color: #102027;
}


.image-gallery {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));/* 1fr 1fr 1fr 1fr */
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    /* grid-template-areas: ; */
    grid-template-areas:
        'header header header header'
        'img-1 img-2 img-3 img-3'
        'img-1 img-4 img-5 img-6'
        'img-7 img-7 img-8 img-6'
        'footer footer footer footer';
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i {
    color: rgba(255, 255, 255, .8);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba (0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("/assets/images/img-1.jpg");
}

.img-2 {
    grid-area: img-2;
    background-image: url("/assets/images/img-2.jpg");
}

.img-3 {
    grid-area: img-3;
    background-image: url("/assets/images/img-3.jpg");
}

.img-4 {
    grid-area: img-4;
    background-image: url("/assets/images/img-4.jpg");
}

.img-5 {
    grid-area: img-5;
    background-image: url("/assets/images/img-5.jpg");
}

.img-6 {
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url("/assets/images/img-6.jpg");
}

.img-7 {
    grid-area: img-7;
    background-image: url("/assets/images/img-7.jpg");
}

.img-8 {
    grid-area: img-8;
    background-image: url("/assets/images/img-8.jpg");
}

.container-gallery {
    width: 100%;
    /* max-width: 130rem; */
    height: 85rem;
    position: absolute;
    bottom: 0;
    object-fit: cover;
    margin: auto;
    background-color: #102027;
}

header {
    background: #102027;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-right: 5em;
    color: #CACACA;
    height: 10rem;
}

#logo {
    float: left;
    margin-left: 30px;

}

h1,
h2,
h3 {
    font-family: 'Girassol', cursive;
    text-transform: uppercase;
    font-weight:900;
    line-height: 1;
    margin-bottom: 1em;
    letter-spacing: 2px;
    color: #cacaca;
}

h1,
#logo {
    margin: 24px 0px 24px 20px;
}

#menu,
#logo {
    line-height: 60px;
}


#menu {
    font-size: xx-large;
    letter-spacing: 3px;
}

footer {
    background: #102027;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;

    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    margin: 1%;
    padding: 2.5%;
    color: #cacaca;
}

@media only screen and (max-width: 900px) {
    .image-gallery {
        grid-template-areas:
            'nav nav nav nav'
            'img-1 img-2 img-3 img-3'
            'img-1 img-4 img-5 img-6'
            'img-7 img-7 img-8 img-6'
            'footer footer footer footer'
    }

    .image-gallery a {
        padding: 0;
        margin: 0;
        height: 20rem;
    }

    .img-1 {
        min-height: 41.5;
    }

    .img-6 {
        min-height: 20rem;
    }
}


 @media only screen and (max-width: 600px) {
    .image-gallery {
        grid-template-areas:
            'nav nav nav nav'
            'img-1 img-1 img-1 img-1'
            'img-2 img-2 img-2 img-2'
            'img-3 img-3 img-3 img-3'
            'img-4 img-4 img-4 img-4'
            'img-5 img-5 img-5 img-5'
            'img-6 img-6 img-6 img-6'
            'img-7 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8'
            'footer footer footer footer'
    }

    .image-gallery a,
    .img-1,
    .img-6 {
        min-height: 30rem;
        height: 20rem;
    }
 }
 /* Contact Page Styling */