@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Inconsolata:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;

}

:root{
    --main-radius:5px;
    --main-padding:5px;
}


.container {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.8fr 1.8fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "content1 content1 content2 content3"
    "footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: 'Inconsolata', monospace;
}

nav {
    background: #5c4c4c;
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

main {
    background: #9e927d;
    grid-area: main;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content1 {
    background: #e3f0ed;
    grid-area: content1;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content2 {
    background: #2c3633;
    grid-area: content2;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content3 {
    background: #0b4738;
    grid-area: content3;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

footer {
    background: #d32f2f;
    grid-area: footer;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

h1,
h2 {
    font-family: 'Girassol', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2.5%;
    color: #3a3a3a;
}



@media only screen and (max-width:550px){
    .container{
        grid-template-columns:1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        "nav"
        "menu"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}

