@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Inconsolata:wght@400&display=swap');

*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --main-radius:5px;
    --main-padding:5px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
}

.container2 {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem; /* maybe change this later, change to no gap or get image in background */
    /* grid-template-areas: ; */
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i {
    color: rgba(255,255,255, .8);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255,255,255, .8);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba (0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    background-image: url("images/img-1.jpg");
}
.img-2 {
    grid-area: img-2;
    background-image: url("images/img-2.jpg");
}
.img-3 {
    grid-area: img-3;
    background-image: url("images/img-3.jpg");
}
.img-4 {
    grid-area: img-4;
    background-image: url("images/img-4.jpg");
}
.img-5 {
    grid-area: img-5;
    background-image: url("images/img-5.jpg");
}
.img-6 {
    grid-area: img-6;
    background-image: url("images/img-6.jpg");
}
.img-7 {
    grid-area: img-7;
    background-image: url("images/img-7.jpg");
}
.img-8 {
    grid-area: img-8;
    background-image: url("images/img-8.jpg");
}

.container {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.8fr 0.9fr 0.9fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "content1 content1 content2 content2"
    "content1 content1 content3 content3"
    "footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: 'Inconsolata', monospace;
}

nav {
    background: #313030;
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

main {
    background: #313030;
    grid-area: main;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content1 {
    background: #453580;
    grid-area: content1;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content2 {
    background: #453580;
    grid-area: content2;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);  
}

#content3 {
    background: #453580;
    grid-area: content3;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

footer {
    background: #453580;
    grid-area: footer;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

#content2img {
    width: 430px;
    height: 250px;
    object-fit: fill;
}

#content3img {
    width: 430px;
    height: 250px;
    object-fit: cover;
}

h1,
h2 {
    font-family: 'Girassol', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2.5%;
    color: #3a3a3a;
}



@media only screen and (max-width:550px){
    .container{
        grid-template-columns:1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        "nav"
        "menu"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}

